{% extends 'econbase.html' %}

{% block content %}

<div>
  <h3>Scarcity</h3>
  <p>Scarcity is defined as how limited an item or resource is. Scarcity often dictates value.</p>
  <p>
    In my country, Land is fairly scarce and as a result, fresh crops as well. 
    A majority of produce and ingredients have to be imported. 
  </p>
</div>

<div>
  <h3>Wants vs Needs</h3>
  <p>Wants are things that do not directly contribute to the next level of needs for a specific individual.</p>
  <p>
    Needs range from baisac neccesities for survival like food and shelter, 
    to more complex requirements for a higher quality of life such as education and healthcare.
  </p>
  <p>Here is maslov's hierarchy of needs</p>
  <img src="../../../../static/images/Screenshot 2026-02-17 at 8.40.23 AM.png" width="30%">
  <p>This hierarchy is the best way to classify the next priority for an individual.</p>


  <p>One thing could be a want for one person and a need for somone else.</p>
  <p>
    For Example: A new car might be a want for somone who worries about their next meal, 
    but might be a need for someone else who needs to commute to work and has no other means of transportation.
  </p>
  <p>
    My country must work very hard to sustain free trade with nearby countries. 
    This is because many resources are not plentiful enough within our borders to fulfill our wants and needs. 
    In order to maintain the trade status, 
    some deals may have to be made where we sacrifice potential gains we could have had otherwise. 
  </p>
</div>

<div>
  <h3>Opportunity Cost</h3>
  <p>Opportunity cost is the value of the next best alternative that is foregone when making a decision.</p>
  <p>
    For an individual, this might be like choosing not to go to college, 
    while they don't spend as much money on tuition, they lose the potential income from higher education.
  </p>
  <p>
    For a nation, this could be withdrawing from a foreign country, they may spend less money on it now, 
    but they lose the resources they might have extracted had they stayed.
  </p>
</div>
<div>
  <h3>Decision Making</h3>
  <p>Here are 3 decision this country had to make and their oppertunity cost.</p>
  <ol>
    <li>
      <h4>Providing More Public Services</h4>
      <p>
        In order to expand healthcare, education, and public safety, the governments must allocate more recources--money, 
        labor, and capital--which could have been used elsewhere.
      </p>
    </li>
    <li>
      <h4>Increasing Taxes</h4>
      <p>
        Businesses may receive less investments due to lower reported after-tax profits. 
        This may cause a reduction in economic growth that could limit future possibilities for the economy.	
      </p>
    </li>
    <li>
      <h4>Building Public Infrastructure</h4>
      <p>
        If the government invests in major infrastructure projects--such as highways or public transit--
        it commits significant capital and labor resources which can then not be used elsewhere.
      </p>
    </li>
  </ol>
</div>

<div>
  <h3>Cost-Benefit Analysis</h3>
  <p>Cost-benefit analysis is a systematic process for evaluating the potential costs and benefits of a decision or project.</p>
  <p>
    skjblakj
  </p>
</div>

{% endblock %}