{% extends 'econbase.html' %}

{% block content %}
<div>
  <h3>Overview</h3>
  <p>
    Ainamor is a social democracy, meaning it holds mostly free market ideals with a strong social safety net. 
    Citizens benifit from free college and healthcare, and there are large taxes on wealthy individuals and buisnesses.
  </p>
</div>

<div>
  <h3>Similar Economies</h3>
  <p>
    Many Nordic countries describe themselves as social democracies, 
    but my country is intended to be a little more socialist than these countries.
  </p>
  <p>
    The government should purchase some businesses so that the people can have a larger effect on the quality of the products they purchase. 
    In addition to a good minimum wage, workers in large companies should be entitled to a small percent of the profits of the company or the division they work in. 
    It is important that we stay away from pure socialism though, because that can create problems.

  </p>
</div>

<div>
  <h3>Fundimental Economic Questions</h3>
  <p>What to produce? How to produce it? For whom to produce?</p>
  <p>The economic system is mostly free market, so individuals or corporations decide what they want to produce and decide how to do it.</p>
  <p>
    If something isn't being produced. Someone will likely start producing it in order to reap the profits from that industry with no competition. 
    There are restrictions in place preventing things like, for instance, child labor, but the society is otherwise free.
  </p>
</div>

<div>
  <h3>Natural Recources</h3>
  <p>
    The land my country resides on is rich with Iron, gold, copper, other earth metals, and uranium; 
    as well as deposits of calcium, perlite, and wollastonite. These materials are used for construction and technology. 
  </p>
</div>

<div>
  <h3>Labor</h3>
  <p>Human capital is increased through free education.</p>
  <p>
    Corporations are encouraged to utilize automation via additional labor taxes. 
    (the more workers a company uses, the more it is taxed)
  </p>
  <p>
    Financial entities / individuals choose how they utilize their resources, 
    but the government puts incentives in place to affect them.
  </p>
</div>

<div>
  <h3>Capital Resources</h3>
  <p>
    Financial entities / individuals choose how they utilize their resources, 
    but the government puts incentives in place to affect them.
  </p>
</div>

<div>
  <h3>Incentives</h3>
  <p>
    Taxes on wealthy individuals and businesses are normally very high, 
    but some tax breaks are granted to incentivise innovation and technology production.
  </p>
</div>

<div>
  <h3>Economic Analysis</h3>
  <p>Here are the GDPs of several social democracies and how they compare to the rest of the world. (ranked out of 218 countries)</p>
  <ul>
    <li>Poland: $1.04 t - 20th</li>
    <li>Norway: $517 b - 32nd</li>
    <li>Sweeden: $662 b - 26th</li>
    <li>Denmark: $438 b - 37th</li>
    <li>Finland: $314 b - 49th</li>
  </ul>

  <p>Here is the quality of life ranking of several social democracies based on a study done by USNews</p>
  <ul>
    <li>Poland: 25th</li>
    <li>Norway: 4th</li>
    <li>Sweeden: 2nd</li>
    <li>Denmark: 1st</li>
    <li>Finland: 6th</li>
  </ul>
</div>


{% endblock %}