{% extends 'econbase.html' %}

{% block content %}

<h3>Flag</h3>
<img src="../../../../static/images/Screenshot 2026-02-06 at 8.49.41 AM.png" width="50%">
<p>The flag above is the flag of ainamor, known as the lulepard.</p>
<p>
  The left side of the flag depicts the peak of a mountain with two stars above. 
  It represents both literaly the scandinavian mountains that strech accross the western side of the country, 
  but also figuritively the strong ideals that guide the nation.
</p>
<p>
  The right side of the flag depicts three symbols. The first is a pickaxe, 
  which represents the mining industry that is a major part of the country's economy. The second is a factory building, 
  which represents the manufacturing industry that is also a major part of the country's economy. 
  The third is some kind of machine with two antennae (some beleive this to be a robot) 
  which represents the technology industry that is a growing part of the country's economy.
</p>
<p>
  Together, the two halfs of the flag represent the balance between the natural beauty and resources of the country, 
  and the industriousness and innovation of its people.
</p>

{% endblock %}
