{% extends 'econbase.html' %}

{% block content %}
<h3>World location</h3>
<p>60.1282° N, 18.6435° E</p>
<p>The territory of Ainamor extends from norway to sweden to finland to a little bit of russia.</p>
<img src="../../../../static/images/Screenshot 2026-02-17 at 8.21.35 AM.png" width="50%">

<h3>Natural Resources</h3>
<p>The land on which my country resides is rich with rare earth elements, graphite, platinum, cobalt, and phosphate.</p>
<img src="../../../../static/images/Screenshot 2026-02-17 at 8.22.43 AM.png" width="50%">

<p>Here is a map of oil distribution in the region.</p>
<img src="../../../../static/images/Screenshot 2026-02-17 at 9.04.55 AM.png" width="30%">

<h3>Geographic Features</h3>
<p>The Social Democract of Ainamor is home to deep coastal fjords, Scandinavian mountains, and many many lakes.</p>
<img src="../../../../static/images/Screenshot 2026-02-17 at 8.23.05 AM.png" width="50%">

<h3>Cities</h3>
<p>The capital city is on the inner coast of the country. This is strategically located for trade and defense.</p>
<img src="../../../../static/images/Screenshot 2026-02-17 at 8.23.33 AM.png" width="35%">

{% endblock %}