{% extends 'base.html' %}

{% block content %}
<h1>How Much Water Should I Add To My Sourdough Bread?</h1>
<form method="post">
{% csrf_token %}
<p>
    <label for="target_hydration">
        Target Hydration (express as a decimal: 0-1): 
    </label>
    <input type="text" name="target_hydration"  />
</p>
<p>
    <label for="flour">
        Flour (g): 
    </label>
    <input type="text" name="flour" />
</p>
<p>
    <label for="starter">
        Starter (g, assuming 100% hydration): 
    </label>
    <input type="text" name="starter" />
</p>
<input type="submit"/>
</form>
{% if water %}
    <hr>
    <h3>Result</h3>

    <p>Target Hydration: {{ target_hydration }}</p>
    <p>Flour: {{ flour }} g</p>
    <p>Starter: {{ starter }} g</p>
    <p>Water: {{ water }} g</p>
{% endif %}
{% endblock %}
